<%= form_for @work_log, :html => { :class => 'form-horizontal', :id => (controller.action_name + "_" + @work_log.class.name) } do |f| %>
	<fieldset id="work-log-meta">
	  <div class="control-group">
	    <%= f.label :user_id, :class => 'control-label' %>
	    <div class="controls">
  		  <%= f.collection_select :user_id, User.not_aliases, :id, :full_name, :prompt => true %>
	    </div>
	  </div>

	  <div class="control-group">
	  	<% if @work_log.template? %>
	 	    <%= f.label :template, :class => 'control-label' %>
		    <div class="controls">
 		    	<%= f.check_box :template, :disabled => false %>
	  	<%else%>
		    <%= f.label :pay_period, :class => 'control-label' %>
		    <div class="controls">
     		  <%= f.select :pay_period, options_for_select(WorkLog.valid_pay_periods, @work_log.pay_period_to_s ) %>
   		<%end%>
	    </div>
	  </div>

		  <div class="control-group">

		    <%= f.label :submit_to, :class => 'control-label' %>
		    <div class="controls">
  			  <%= f.collection_select :submit_to, User.supervisors, :id, :full_name, {:prompt => true} %>

		    </div>
		  </div>
	</fieldset>


  <fieldset id="work-log-hours">   
	<%= link_to_add_association '', f, :hours, 'data-association-insertion-node' => "#work-log-hours table tr", 'data-association-insertion-method' => "append", :class => "btn btn-primary icon-plus" %>
    
    <table class="work-log-hours-table"> 
	<tr>
		<td>
			<div style="height: 33px;">
				&nbsp;
			</div>
			<div>
			  <%= f.label :hourtype, Hour.human_attribute_name(:hourtype), :class => 'control-label' %>
			</div>
			<div>
			  <%= f.label :program, :class => 'control-label' %>
			</div>
			<div>
			  <%= f.label :activity, :class => 'control-label' %>
			</div>
			<div>
			  <%= f.label :saturday_1, :class => 'control-label' %>
			</div>
			<div>
			  <%= f.label :sunday_1, :class => 'control-label' %>
			</div>
			<div>
			  <%= f.label :monday_1, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :tuesday_1, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :wednesday_1, :class => 'control-label' %>
			</div>
			<div>
		    	<%= f.label :thursday_1, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :friday_1, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :saturday_2, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :sunday_2, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :monday_2, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :tuesday_2, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :wednesday_2, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :thursday_2, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :friday_2, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :time, :class => 'control-label' %>
			</div>
			<div>
			    <%= f.label :notes, :class => 'control-label' %>
			</div>
			<div style="height: 33px;">
				&nbsp;
			</div>

		</td>
          <%= f.fields_for :hours do |hour| %> 
            <% if !hour.object.accrual? || current_user.administrator? %>
                <%= render 'hour_fields', :f => hour %>
            <% end %>

	      <% end %> 


			<td id="totalColumn">
	

			</td>
	
		</tr>
    </table> 
  </fieldset>
	<div class="form-actions">
        <% if (@work_log.hours_without_earned != 80)  %>
        <p class="text-warning">Policy Exception: Work Log not 80 hours!</p>
        <% end %>
        <% if (current_user.can_approve? @work_log) and @work_log.id.present? %>
        <%= link_to t('.approve', :default => t("helpers.links.approve")),
                  approve_work_log_path(@work_log), :class => 'btn'  %>
        <% end %>
        <% if (current_user.can_reject? @work_log) and @work_log.id.present? %>
        <%= link_to t('.reject', :default => t("helpers.links.reject")),
                  reject_work_log_path(@work_log), :class => 'btn btn-danger' %>
        <%end%>
        <% if current_user.can_update?(@work_log) and @work_log.id.present? and controller.action_name == "show" %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_work_log_path(@work_log), :class => 'btn' %>
        <% end %>
        <% if controller.action_name != "show" %>
            <%= f.submit nil, :class => 'btn btn-primary' %>
        <% end %> 
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	              worklogs_path, :class => 'btn' %>
        <% if (current_user.can_delete? @work_log) and @work_log.id.present? %>            
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	                    work_log_path(@work_log),
	                    :method => :delete,
	                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                    :class => 'btn btn-danger' %>
        <% end %>
	   </div>
<%end%>

