<td class="control-group nested-fields <%=
        f.object.accrual? ? " accrual-fields " : " hours-fields " %>">
	<div style="padding-bottom: 15px;">	
		<%= link_to_remove_association "", f, :class => "btn btn-danger icon-trash"%>
	</div>
	  <div>
     <%= f.select :hourtype, grouped_options_for_select(Code.hour_types_by_restriction_for_select(current_user.has_role? :administrator), selected_key = f.object.hourtype), {}, {:style => "width:164px;"} %>
	  </div>
	<div>
      <%= f.collection_select :program, Code.where("category = 'Program'").order('description ASC'), :code, :description,   {:prompt => "Program..."},{:style => "width:164px;"} %>
  	</div>
    <div>
      <%= f.collection_select :activity, Code.where("category = 'Activity'").order('description ASC'), :code, :description,   {:prompt => "Activity..."},{:style => "width:164px;"} %>
    </div>
  </div>
    <div>
      <%= f.text_field :saturday_1, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :sunday_1, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :monday_1, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :tuesday_1, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :wednesday_1, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :thursday_1, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :friday_1, :class => 'text_field day' %>
    </div>

    <div>
      <%= f.text_field :saturday_2, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :sunday_2, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :monday_2, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :tuesday_2, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :wednesday_2, :class => 'text_field day' %>
    </div>

    <div>
      <%= f.text_field :thursday_2, :class => 'text_field day' %>
    </div>


    <div>
      <%= f.text_field :friday_2, :class => 'text_field day' %>
    </div>
    <div>
      <%= f.text_field :time, :class => 'text_field sub-total', :disabled => true %>
    </div>

    <div>
      <%= f.text_field :notes, :class => 'text_field' %>
    </div>

	<div style="padding-top: 15px;">	
		<%= link_to_remove_association "", f, :class => "btn btn-danger icon-trash"%>
	</div>
</td>
