<% if current_user.has_role? :admin %>
<div class="" id="process_payroll">
<%= form_tag work_logs_path+"/process", :method => 'put', :id => "process", :class => "form-inline" do %>
    <label for="pay_period">Pay Period:</label>
    <%= select_tag :pay_period, options_for_select(WorkLog.templates(false).group(:pay_period).count.map{|k,v| ["#{k} (#{v})","#{k}"]}, params[:pay_period]) %>
    <%= submit_tag "Mark Processed", :name => "mark", :class => 'btn btn-primary'  %>
    <%= submit_tag "Unmark Processed", :name => "unmark", :class => 'btn btn-primary'  %>

<% end %>
</div>

<% end %>
