<%- model_class = WorkLog -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "Edit #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>

<div class="well">
  <h4>Work Log Summary</h4>
  <dl class="dl-horizontal">
    <dt>Total Hours:</dt><dd id="total_reported_hours">0.00</dd>
    <hr>
    <dt>Total Paid Hours*:</dt><dd id="total_paid_hours">0.00</dd>
    <p style="width: 160px; text-align:right; font-style: italic;">*should normally be 80</p>

    <hr>
    <dt>Total Earned Hours:</dt><dd id="total_earned_hours">0.00</dd>
    <dt>Total Accrued Hours:</dt><dd id="total_accrued_hours">0.00</dd>
    <dt>Total Leave Hours:</dt><dd id="total_leave_hours">0.00</dd>

  </dl>

  <% if !@work_log.template? %>
  <h4>Leave Balances & Activity</h4>
    <dl class="dl-horizontal leave_balances_and_activity_json">
    </dl>
  <% end %>

</div>
