<%- model_class = WorkLog -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="">
<%= form_tag work_logs_path, :method => 'get', :id => "search", :class => "form-inline" do %>
    <%= select_tag :user, options_for_select([["My Worklogs",current_user.id],["Others' Worklogs",-current_user.id]], params[:user]), { :prompt => "Select a filter..." } %>
    <%= select_tag :pay_period, options_for_select(WorkLog.templates(false).group(:pay_period).count.map{|k,v| ["#{k} (#{v})","#{k}"]}, params[:pay_period]),  { :prompt => "Select a pay period..." } %>
    <%= select_tag :approved, options_for_select([["No","false"],["Yes","true"]], params[:approved]), { :prompt => "Approved..." } %>
    <% if current_user.has_role? :admin %>
    <label for"templates">Templates?
        &nbsp;<%= check_box_tag :templates, '1', (params[:templates] == "1") %>
    </label>
    <%end %>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary'  %>
<% end %>
</div>

<%= render "process" %>

<%= form_tag approve_multiple_worklogs_path do %>
<% if !@work_logs.empty? %>

<table class="table table-striped" id="no-more-tables">
  <thead>
    <tr>
        <th>
          <% if supervisor? %>
          <%= model_class.human_attribute_name(:approve) %>
          <%end%>
      </th>
      <th><%= model_class.human_attribute_name(:pay_period) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
 <!--     <th><%= model_class.human_attribute_name(:submitted_to) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>-->
      <th><%= model_class.human_attribute_name(:approved?) %></th>
        <% if current_user.has_role? :admin %>
          <th><%= model_class.human_attribute_name(:processed?) %></th>
        <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody class="rowlink" data-link="row" data-target="a.worklog-link">
    <% @work_logs.each do |work_log| %>
      <tr>
        <td class='rowlink-skip'>
        <% if (work_log.approvable_by? current_user) && !work_log.template? %>
            <%= check_box_tag 'work_log_id[]', work_log.id, false %>
        <%end%>

        </td>
        <td>
            <% l_desc = (work_log.template?) ? "Template" : (l work_log.pay_period || Date.today(), :format => :date) %>
            <% l_url = (work_log.updatable_by? current_user) ? edit_work_log_path(work_log) : work_log_path(work_log) %>
            <%= link_to l_desc, l_url, :class => "worklog-link" %>
        </td>
        <td><%= work_log.full_name %></td>
        <td>
          <% if work_log.approved? %>
             By  <%= User.find(work_log.approved_by_id).full_name %>
          <% else %>
              No
          <% end %>
        </td>
        <% if current_user.has_role? :admin %>
        <td><%= (work_log.processed != nil) ? glyph("ok") : glyph("remove") %></td>
        <% end %>
        <td class="rowlink-skip">
          <% if (work_log.updatable_by? current_user) %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_work_log_path(work_log), :class => 'btn btn-mini' %>
          <%end%>
          <% if (work_log.deletable_by? current_user) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      work_log_path(work_log),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No work logs found.</p>
<% end %>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @work_logs %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_worklog_path,
            :class => 'btn btn-primary' %>
<% if supervisor? %>
  <%= submit_tag "Approve", :class => 'btn btn-danger submit_approve' %>
<% end %>

<%end%>
