<%- model_class = WorkLog -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}") %> 
                                 <%if (@work_log.template) %><%= t('helpers.titles.new.template') %> <% end %>
                               </h1>
</div>
<%= render :partial => 'form' %>

<div class="well">
  <h4>Work Log Summary</h4>
  <dl class="dl-horizontal">
    <dt>Total Paid Hours:</dt><dd id="total_paid_hours">0.00</dd>
    <dt>Total Earned Hours:</dt><dd id="total_earned_hours">0.00</dd>
  </dl>
  <h4>Leave Balances & Activity</h4>
    <dl class="dl-horizontal leave_balances_and_activity_json">
    </dl>    
    
</div>