<h1>Sample App</h1>
<% if current_user %>
  Signed in as <%= current_user.full_name %>!
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %><p>
  This is the home page.
</p>