<div class="field">
  <%= f.label :hourtype %><br />
  <%= f.text_field :hourtype %>
</div>
<div class="field">
  <%= f.label :program %><br />
  <%= f.text_field :program %>
</div><div class="field">
  <%= f.label :activity %><br />
  <%= f.text_field :activity %>

</div><div class="field">
  <%= f.label :time %><br />
  <%= f.text_field :time %>
</div>
<div class="field">
  <%= f.label :notes %><br />
  <%= f.text_field :notes %>
</div>

