<%= form_for @hour, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :program, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :program, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :activity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :activity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hourtype, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hourtype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :saturday_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :saturday_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sunday_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sunday_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :monday_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :monday_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tuesday_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tuesday_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wednesday_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wednesday_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :thursday_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :thursday_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :friday_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :friday_1, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :saturday_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :saturday_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sunday_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sunday_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :monday_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :monday_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tuesday_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tuesday_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wednesday_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wednesday_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :thursday_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :thursday_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :friday_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :friday_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time, :class => 'text_field', :disabled => true %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :notes, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                hours_path, :class => 'btn' %>
  </div>
<% end %>
