Pay Period,Employee,ADP,Type,Program,Activity,Time,Notes
<% @hours.each do |hour| %>
<%= "#{hour.pay_period},#{hour.full_name},#{hour.adp_id},#{hour.hourtype},000#{hour.program},#{hour.activity},#{hour.time},#{hour.notes}" %>
<% end %>
