<%- model_class = Hour -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div class="form-actions">
<%= form_tag hours_path, :method => 'get', :id => "hours_search" do %>
  <div class="control-group">
    <div class="control">
      <%= select_tag :search, options_for_select(WorkLog.valid_pay_periods, params[:search] || WorkLog.next_valid_pay_period.to_date.to_s), { :prompt => "Select a pay period" } %>
    </div>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary'  %>
    <%= link_to "CSV", hours_path(params.slice(:pay_period,:paid,:user_id,:template).merge(format: "csv")) %>
  </div>
<% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= WorkLog.human_attribute_name(:pay_period) %></th>
      <th><%= User.human_attribute_name(:full_name) %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:program) %></th>
      <th><%= model_class.human_attribute_name(:activity) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:hourtype) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @hours.each do |hour| %>
      <tr>
        <td><%= hour.work_log.pay_period %></td>
        <td><%= hour.work_log.full_name %></td>
        <td><%= link_to hour.id, hour_path(hour) %></td>
        <td><%= hour.program %></td>
        <td><%= hour.activity %></td>
        <td><%= hour.time %></td>
        <td><%= hour.hourtype %></td>
        <td><%= hour.notes %></td>
        <td><%=l hour.created_at, :format => :date_short %></td>
        <td><%=l hour.updated_at, :format => :date_short %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_hour_path(hour), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      hour_path(hour),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @hours %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_hour_path,
            :class => 'btn btn-primary' %>
