<%- model_class = Hour -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= WorkLog.human_attribute_name(:pay_period) %>:</strong></dt>
  <dd><%= (@hour.work_log and @hour.work_log.template?) ? "Template" : (l @hour.work_log.pay_period)  %></dd>
  <dt><strong><%= User.human_attribute_name(:full_name) %>:</strong></dt>
  <dd><%= @hour.work_log.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:program) %>:</strong></dt>
  <dd><%= @hour.program_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:activity) %>:</strong></dt>
  <dd><%= @hour.activity_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time) %>:</strong></dt>
  <dd><%= @hour.time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hourtype) %>:</strong></dt>
  <dd><%= @hour.hour_type_name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @hour.notes %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              hours_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_hour_path(@hour), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              hour_path(@hour),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
