<%= form_for @leave_balance, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :user_id, User.all, :id, :full_name,   {:prompt => false}%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :category, Code.find_all_by_category('Leave'), :code, :description,   {:prompt => false}%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :balance, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :balance, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :uploaded, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :uploaded, :class => 'date_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                leave_balances_path, :class => 'btn' %>
  </div>
<% end %>
