<%- model_class = LeaveBalance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titlecase %></h1>
<p>Note: Definitive leave balances are on your pay stub. Pay stubs are accessible <a href="https://sites.google.com/a/pflag.org/portal/hr/benefits/adp-online-pay-stub-access">online</a>.</p>
<p>Accrued, earned and used numbers below are from the 'upload' date to the present including any future pay periods for which work logs have been completed.</p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>

      <th><%= model_class.human_attribute_name(:category) %></th>
      <th>Beginning Balance</th>
      <th><%= model_class.human_attribute_name(:accrued) %></th>
      <th><%= model_class.human_attribute_name(:earned) %></th>
      <th><%= model_class.human_attribute_name(:used) %></th>
      <th><%= model_class.human_attribute_name(:balance) %></th>
      <th><%= model_class.human_attribute_name(:uploaded) %></th>
      <% if current_user.can_update? LeaveBalance %>    
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
        <% end %>
        
    </tr>
  </thead>
  <tbody>
    <% @leave_balances.each do |leave_balance| %>
      <tr>
        <td><%= leave_balance.user.full_name rescue ""%></td>
        <td><%= leave_balance.category_name %></td>
        <td><%= leave_balance.balance %></td>
        <td><%= leave_balance.accrued %></td>
        <td><%= leave_balance.earned %></td>
        <td><%= leave_balance.used %></td>
        <td><%= leave_balance.net_leave_balance %></td>
        
        <td><%= leave_balance.uploaded %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_leave_balance_path(leave_balance), :class => 'btn btn-mini' if current_user.can_update? leave_balance %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      leave_balance_path(leave_balance),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' if current_user.can_delete? leave_balance%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if current_user.can_import? LeaveBalance %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_leave_balance_path,
            :class => 'btn btn-primary' %>
<div class="page-header">
  <h2>Import Leave Balances</h2>
</div>  <%= form_tag import_leave_balances_path, multipart: true do %>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="input-append">
        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span>
      <%= file_field_tag :file %>
      </span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
      <%= submit_tag "Import", :class => "btn btn-primary fileupload-exists" %>

      </div>
        <%= label_tag :uploaded, "Effective Pay Period", :class => 'control-label' %>
		    <div class="controls">
     		  <%= select_tag :uploaded, options_for_select(WorkLog.valid_pay_periods, WorkLog.last_valid_pay_period.to_s ) %>
	    </div>
    </div>
  <% end %>
<%end %>