<%- model_class = LeaveBalance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @leave_balance.user.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= Code.find_by_category_and_code("Leave",@leave_balance.category).description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:balance) %>:</strong></dt>
  <dd><%= @leave_balance.balance %></dd>
  <dt><strong><%= model_class.human_attribute_name(:accrued) %>:</strong></dt>
  <dd><%= @leave_balance.accrued %></dd>  
  <dt><strong><%= model_class.human_attribute_name(:accrued_this_pay) %>:</strong></dt>
  <dd><%= @leave_balance.accrued_this_pay %></dd>
  <dt><strong><%= model_class.human_attribute_name(:used) %>:</strong></dt>
  <dd><%= @leave_balance.used %></dd>
  <dt><strong><%= model_class.human_attribute_name(:net_leave_balance) %>:</strong></dt>
  <dd><%= @leave_balance.net_leave_balance %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uploaded) %>:</strong></dt>
  <dd><%= @leave_balance.uploaded %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_leave_balance_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              leave_balances_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_leave_balance_path(@leave_balance), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              leave_balance_path(@leave_balance),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
