Work Log for <%= @work_log.user.full_name %>
===============================================
<% if (@user.id != @work_log.user_id) %>
==Submitted by <%= @user.full_name%>==
<% end %>
<% @work_log.hours.each do |h|%>
    <%= "#{h.hour_type_name.to_s}: #{h.time}" %>
<%end%>
<br>
<% if (@work_log.hours_without_earned != 80) %>
==Warning: Policy Exception, Paid Hours not equal to 80==
<% end %>
Total Paid Hours:</b>&nbsp;<%= @work_log.hours_without_earned %>

<%= link_to "Approve Work Log", approve_work_log_path(@work_log, :only_path => false) %> | <%= link_to "View Work Log", work_log_path(@work_log, :only_path => false) %>