<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>


    <h1 style="color:black;">Work Log for <%= @work_log.user.full_name %></h1>

	<% if (@user.id != @work_log.user_id) %>
		<p style="color:red; font-weight: bold">Submitted by <%= @user.full_name%></p>
	<% end %>
	<table style="border: 2px solid black;">
		<tbody>
		<th>Hour Type</th><th>Hours</th><th>Program</th><th>Activity</th><th>Notes</th>
	<% @work_log.hours.each do |h|%>
		<tr>
			<td> <%=h.hour_type_name.to_s%></td>
			<td> <%=h.time%></td>
			<td> <%=h.program_name %></td>
			<td> <%=h.activity_name %></td>
			<td> <%=h.notes %></td>
		</tr>
	<%end%>
	</tbody>
	</table>
	<br>
	<% if (@work_log.hours_without_earned != 80) %>
		<p style="color: red">Warning: Policy Exception, Paid Hours not equal to 80</p>
	<% end %>

	<% @work_log.hours_summary.each do |k,v| %>
		<% code_name = Code.find_by_code(k).description unless k.blank? %>
		<p style=\"<%= code_style(k).html_safe %>\"><b><%= "Total #{code_name}:"%></b>
			<%= v %> 
		</p>
	<% end %>

	<hr>

	<p><b>Total Paid Hours:</b>&nbsp;<%= @work_log.hours_without_earned %></p>
	<% if (@work_log.hours_earned > 0) %>
		<p style="color: green;"><b>Total Earned Hours:</b>&nbsp;<%= @work_log.hours_earned %></p>
	<% end %>

    <p><%= link_to "Approve Work Log", approve_work_log_path(@work_log, :only_path => false) %> | <%= link_to "View Work Log", work_log_path(@work_log, :only_path => false) %></p>

  </body>
</html>