New User Created: <%= @user.full_name %>
===============================================

New User Created: <%= @user.full_name %>
Full Name: <%= @user.full_name %>
Email: <%= @user.email %>

Go to <%= link_to "Edit User Info", edit_user_path(@user, :only_path => false) %> to add more details to this user.