<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>


    <h1>New User Created: <%= @user.full_name %></h1>
		<p>Full Name:<dd><%= @user.full_name %></p>
		<p>Email:<dd><%= @user.email %></p>

    <p><%= link_to "Edit User Info", edit_user_path(@user, :only_path => false) %></p>

  </body>
</html>