<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Work Log Rejected!</h1>
	<p><%= link_to "Edit Your Work Log", edit_work_log_path(@work_log, :only_path => false) %>.</p>

  </body>
</html>