Work Log for <%= @work_log.user.full_name %>
===============================================

Work Log Rejected!

Go to <%= edit_work_log_path(@work_log, :only_path => false) %> to revise your Work Log.