<fieldset id="user-form">
  <% if params['action'] != 'new' %>
  <div class="control-group">
    <%= f.label :id, :class => 'control-label' %>
        <div class="controls">
    <%= f.text_field :id, :readonly => true %>
    </div>
  </div>
  <% end %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
        <div class="controls">
    <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :last_name %>
        </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label'  %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
  </div>
  <div class="control-group">
    <%= f.label :uid, :class => 'control-label'  %>
    <div class="controls">
      <%= f.text_field :uid %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :provider, :class => 'control-label'  %>
    <div class="controls">
      <%= f.text_field :provider %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :adp_id, :class => 'control-label'  %>
    <div class="controls">
      <%= f.text_field :adp_id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :department_id, :class => 'control-label'  %>
    <div class="controls">
      <%= f.collection_select :department_id, Code.where("category = 'Department'").order('category ASC'), :code, :description,   {:prompt => "Department..."}%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :accrual_type, :class => 'control-label'  %>
    <div class="controls">
      <%= f.collection_select :accrual_type, Code.where("category = 'Accrual Type'").order('category ASC'), :code, :description,   {:prompt => "Accrual Type..."}%>    </div>
  </div>
  <div class="control-group">
    <%= f.label :hire_date, :class => 'control-label'  %>
    <div class="controls">
      <%= f.date_select :hire_date, :start_year => 2002 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :supervisor_id, :class => 'control-label'  %>
    <div class="controls">
		<%= f.collection_select :supervisor_id, User.supervisors, :id, :full_name, :prompt => true, :insert_blank => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :alias_for_user_id, :class => 'control-label'  %>
    <div class="controls">
    <%= f.select :alias_for_user_id, [['Not an alias...',-1]] + User.not_aliases.collect {|p| [p.full_name, p.id] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :roles, :class => 'control-label'  %>
    <div class="controls">
        <% role_array = Role.all.map { |r| [r.name, r.id] } %>
        <% selected_roles = f.object.role_ids.empty? ? [Role.find_by_name('employee').id] : f.object.role_ids %>
        <%= f.select :role_ids, options_for_select(role_array, selected_roles), { }, { multiple: true } %>
    </div>
  </div>

  </div>

</fieldset>
