<h1>Edit User</h1>

<%= form_for(@user) do |f| %>
<%= render 'fields', :f => f %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    			user_path,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>

    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>