<%- model_class = User -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<table class="table" data-provides="rowlink">
  <tr>
    <th>Name</th>
    <th>Roles</th>
    <th>ADP ID</th>
    <th>Department</th>
    <th>Supervisor</th>
    <th></th>
  </tr>

<% @users.each do |f| %>
  <tr>
    <td><%= link_to f.full_name, user_path(f)%><%= ((f.alias_for_user_id || -1) > 0) ? "*" : "" %>

        <%= link_to glyph("plus"), new_worklog_path(user_id: f.id) %>
        <%=link_to glyph("time"), hours_path(user_id: f.id)%>
        <%=link_to glyph("list-alt"), worklogs_path(user_id: f.id)%>

      </td>
    <% if f.is_alias? %>
        <td colspan="4">Alias for: <%= User.find(f.alias_for_user_id).full_name + " (" + f.alias_for_user_id.to_s + ")" %></td>
    <% else %>
        <td>
            <% f.roles.each do |h|
            color = "grey"
            case h.name
            when "admin"
                color = "red"
            when "supervisor"
                color = "blue"
            when "employee"
                color = "green"
            end %>
            <span style="color:<%=color%>"><%=glyph("user")%></span>
            <% end %>
        </td>
        <td><%= f.adp_id %></td>
        <td><%= f.department_id %></td>
        <td>
            <%=f.supervisor.full_name if f.supervisor.present?%>
        </td>
    <%end%>
    <td class="nolink"><%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_user_path(f), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    user_path(f),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>
 *Alias
<br />

<%= link_to 'Create new user', new_user_path, :class => "btn btn-primary" %>
