<h1>New User</h1>
<%= form_for(@user) do |f| %>
<%= render 'fields', :f => f %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>