<%- model_class = User -%>

<h1>Employee: <%=@user.full_name%></h1>
<input type="hidden" disabled="true" id="user_id" name="user_id" value="<%= @user.id %>">
<dl class="dl-horizontal well">
  <dt><strong><%= model_class.human_attribute_name(:full_name) %>:</strong></dt>
  <dd><%= @user.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= link_to @user.email, "mailto:#{@user.email}"  %></dd>
  <% if @user.alias_for_user_id.present? && User.exists?(@user.alias_for_user_id) %>
  <dt><strong><%= model_class.human_attribute_name(:alias_for) %>:</strong></dt>
  <dd><%= link_to User.find(@user.alias_for_user_id).full_name, edit_user_path(User.find(@user.alias_for_user_id)) %></dd>
  <% else %>
  <dt><strong><%= model_class.human_attribute_name(:uid) %>:</strong></dt>
  <dd><%= link_to @user.uid, "https://plus.google.com/#{@user.uid}", {:target => "blank"}%></dd>
  <dt><strong><%= model_class.human_attribute_name(:payroll_code) %>:</strong></dt>
  <dd><%= @user.adp_id %></dd>  
  <dt><strong><%= model_class.human_attribute_name(:department) %>:</strong></dt>
  <dd><%= @user.department_id.present? && Code.find_by_category_and_code("Department",@user.department_id.to_s).description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:accrual_type) %>:</strong></dt>
  <dd><%= @user.accrual_type.present? && Code.find_by_category_and_code("Accrual Type",@user.accrual_type).description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hire_date) %>:</strong></dt>
    <dd><%= l @user.hire_date, :format => :date unless @user.hire_date.nil? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supervisor) %>:</strong></dt>
  <dd><%= @user.supervisor_id.present? && @user.supervisor.full_name || "unknown" %></dd>
  <% end %>
 

</dl>
<dl class="dl-horizontal well">
  <h4>Leave Balances</h4>
    <dl class="dl-horizontal">
      <% @user.leave_balances.each do |lb| %> 
        <dt><strong><%= lb.category_name %>:</strong></dt>
        <dd class="<%=lb.category%>_leave leave_net"><strong><%=  lb.net_leave_balance %> </strong></dd>
      <%end%>
    </dl>
</dl>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_user_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

