<div class="center" style="margin-top: 100px;">


<% if current_user %>
<p>
  Signed in as <%= current_user.full_name %>!
</p>
	<p>
	  <%= link_to "Sign out", signout_path, :class => "btn btn-primary btn-large" %>
	</p>
<% else %>

  <%= link_to signin_path, :class => "btn btn-primary btn-large" do %>
		Sign in	<%=image_tag("http://www.google.com/favicon.ico", :class => "img-rounded")%>
  <% end %>
<% end %>

</div>