<%= form_for @code, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :restriction, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :restriction, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                codes_path, :class => 'btn' %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
              new_code_path, :class => 'btn btn-primary'  %>

  </div>
<% end %>
