<%- model_class = Code -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>

<div class="form-actions">
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              code_path(@code),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

</div>
<%= render :partial => 'form' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              code_path(@code),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>