<%- model_class = Code -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="form-actions">
<%= form_tag codes_path, :method => 'get', :id => "search", :class => "form-inline" do %>
      <%= select_tag :search, options_for_select(Code.categories, params[:search]), { :prompt => "Select a filter..." } %>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary'  %>
</div>
<% end %>


<%= form_tag delete_multiple_codes_path do %>

<table class="table table-striped" data-provides="rowlink">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:select) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @codes.each do |code| %>
      <tr>
        <td class='nolink'><%= check_box_tag 'code_id[]', code.id, false %></td>       
        <td><%= code.category %></td>
        <td><%= link_to code.code, edit_code_path(code) %></td>        
        <td><%= code.description %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_code_path(code), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      code_path(code),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @codes %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_code_path,
            :class => 'btn btn-primary' %>
<%= submit_tag "Delete", :class => 'btn btn-danger submit_delete' %>
<%end%>


<div class="page-header">
  <h2>Import Codes</h2>
</div>
  <%= form_tag import_codes_path, multipart: true do %>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="input-append">
        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span>
      <%= file_field_tag :file %>
      </span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
      <%= submit_tag "Import", :class => "btn btn-primary" %>

      </div>

    </div>
  <% end %>