table.work-log-hours-table input {
	width: 164px;
}

table.work-log-hours-table input.row-total {
	width: 30px;
}

table.work-log-hours-table label {
	display: none;
}

table.work-log-hours-table td:first-child label {
	display: block;
}

table.work-log-hours-table td.hours-fields, td.accrual-fields {
	width: 164px;
}


form .clearfix:before, form .clearfix:after {
  display: inline;
}

@media (max-width: 480px) {
	.form-inline select, .form-inline input {
		margin-bottom: 10px;

	}

	.form-horizontal .work-log-hours-table .control-label {
		float: left;
		padding-top: 0px;
		text-align: right;
	}

}

.table-striped tbody.rowlink tr:hover td {
    background-color: grey;
    cursor: pointer;
}
tbody.rowlink a.worklog-link {
    color: #333;
}

tbody.rowlink a:hover.worklog-link {
    text-decoration: none;
}

.work-log-hours-table div, .form-horizontal .work-log-hours-table .control-label, .work-log-hours-table input[type=text], .work-log-hours-table select {
	height: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

input[type=checkbox] {
    margin: 0px;
}

.form-horizontal .form-actions {
  padding-left: 20px;
}
