<%= form_for @leave_accrual_rule, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :accrual_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :accrual_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :leave_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :leave_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :condition_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :condition_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :condition_unit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :condition_unit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :accrual_frequency, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :accrual_frequency, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reset_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_frequency, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reset_frequency, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :reset_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_min, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reset_min, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_max, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reset_max, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_max_per_year_of_service, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reset_max_per_year_of_service, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                leave_accrual_rules_path, :class => 'btn' %>
  </div>
<% end %>
