<%- model_class = LeaveAccrualRule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:accrual_type) %></th>
      <th><%= model_class.human_attribute_name(:leave_code) %></th>
      <th><%= model_class.human_attribute_name(:condition_type) %></th>
      <th><%= model_class.human_attribute_name(:condition_unit) %></th>
      <th><%= model_class.human_attribute_name(:unit) %></th>
      <th><%= model_class.human_attribute_name(:accrual_frequency) %></th>
      <th><%= model_class.human_attribute_name(:reset_type) %></th>
      <th><%= model_class.human_attribute_name(:reset_frequency) %></th>
      <th><%= model_class.human_attribute_name(:reset_date) %></th>
      <th><%= model_class.human_attribute_name(:reset_min) %></th>
      <th><%= model_class.human_attribute_name(:reset_max) %></th>
      <th><%= model_class.human_attribute_name(:reset_max_per_year_of_service) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @leave_accrual_rules.each do |leave_accrual_rule| %>
      <tr>
        <td><%= link_to leave_accrual_rule.id, leave_accrual_rule_path(leave_accrual_rule) %></td>
        <td><%= leave_accrual_rule.accrual_type %></td>
        <td><%= leave_accrual_rule.leave_code %></td>
        <td><%= leave_accrual_rule.condition_type %></td>
        <td><%= leave_accrual_rule.condition_unit %></td>
        <td><%= leave_accrual_rule.unit %></td>
        <td><%= leave_accrual_rule.accrual_frequency %></td>
        <td><%= leave_accrual_rule.reset_type %></td>
        <td><%= leave_accrual_rule.reset_frequency %></td>
        <td><%= leave_accrual_rule.reset_date %></td>
        <td><%= leave_accrual_rule.reset_min %></td>
        <td><%= leave_accrual_rule.reset_max %></td>
        <td><%= leave_accrual_rule.reset_max_per_year_of_service %></td>
        <td><%=l leave_accrual_rule.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_leave_accrual_rule_path(leave_accrual_rule), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      leave_accrual_rule_path(leave_accrual_rule),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_leave_accrual_rule_path,
            :class => 'btn btn-primary' %>
