<%- model_class = LeaveAccrualRule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:accrual_type) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.accrual_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:leave_code) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.leave_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:condition_type) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.condition_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:condition_unit) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.condition_unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:accrual_frequency) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.accrual_frequency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reset_type) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.reset_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reset_frequency) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.reset_frequency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reset_date) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.reset_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reset_min) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.reset_min %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reset_max) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.reset_max %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reset_max_per_year_of_service) %>:</strong></dt>
  <dd><%= @leave_accrual_rule.reset_max_per_year_of_service %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              leave_accrual_rules_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_leave_accrual_rule_path(@leave_accrual_rule), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              leave_accrual_rule_path(@leave_accrual_rule),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
