<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="application/javascript">
        var HOURTYPES = {
            ACCRUED_LEAVE: {
                <%=Code.accrued_leave_types.inject([]){|c,h| c.push("\"#{h.code}\":\"#{h.description}\"")}.join(",").html_safe %>
            },
            ALL_HOURS_TYPES: {
                <%=Code.hour_types.inject([]){|c,h| c.push("\"#{h.code}\":\"#{h.description}\"")}.join(",").html_safe %>
            },
            EARNED_HOURS: {
                <%=Code.earned_leave_types.inject([]){|c,h| c.push("\"#{h.code}\":\"#{h.description}\"")}.join(",").html_safe %>
            },
            LEAVE_HOURS: {
                <%=Code.leave_types.collect{|x| "\"#{x.code}\":\"#{ x.description}\""}.join(",").html_safe %>
            },
            PAID_HOURS: {
                <%=Code.paid_hour_types.inject([]){|c,h| c.push("\"#{h.code}\":\"#{h.description}\"")}.join(",").html_safe %>
            }
        }

    </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
	<div class="navbar navbar-fixed-top">
    	<div class="navbar-inner">
      		<div class="container">
        		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          			<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		         	<span class="icon-bar"></span>
		        </a>
	            <%= link_to "Intranet", "http://intranet.pflag.org", :class=>"brand" %>
        		<div class="nav-collapse collapse">
 	         		<ul class="nav">
	            		<% if (signed_in?)  %>
                        <li><%= link_to glyph("plus"), new_worklog_path %></li>

	            		<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
						    	Work Logs
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li><%= link_to "New Work Log", new_worklog_path %></li>

                                <li><%= link_to "View All Work Logs", worklogs_path %></li>
                                <li><%= link_to "Approve Work Logs", worklogs_path(:approved => 'false') %></li>		       		
                                <li><%= link_to "My Template", work_log_template_path %></li>

                                


                            </ul>
                            
                            </li>
                    
	            		<% if (supervisor?)  %>
						<%end %>
                        <% if supervisor?%> <li><%= link_to "Leave Balances", leave_balances_path %></li><% end %>

                        <li><%= link_to "My Leave Balances", leave_balances_path(:user_id => "#{current_user.id}") %></li>


	            		<% if (administrator?)  %>
	            		<li class="dropdown">
	            			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						    	Admin
						    <b class="caret"></b>
							</a>	
	    	        		 <ul class="dropdown-menu">
  			            		<li><%= link_to "Users", users_path %></li>
			            		<li><%= link_to "Hours", hours_path %></li>
		      			        <li><%= link_to "Codes", codes_path %></li>
		       			        <li><%= link_to "Leave Balances", leave_balances_path %></li>
		       			        <li><%= link_to "Leave Accrual Rules", leave_accrual_rules_path %></li>
      					    </ul>
						</li>
						<% end %>
	            		<% end %>

	            		<li><%= link_to "Help", help_path %></li>
	            		<% if current_user %>
	            		<li class="pull-right"><%= link_to "Sign Out (Logged in as #{current_user.full_name})", signout_path %></li>
	            		
	            		<% else %>
	            		<li class="pull-right"><%= link_to "Sign In", signin_path %></li>
	            		<% end %>
	          		</ul>
        		</div>
			</div>
      	</div>
	</div>
	<div class="container" style="margin-top: 45px;">
	  	<div class="row">
	    	<div>
		    	<section class="round">
					<% [:success, :notice, :error, :alert].each do |level| %>
					  <% unless flash[level].blank? %>
					    <div class="alert alert-<%= flash_class(level) %>">
					      <a class="close" data-dismiss="alert" href="#">×</a>
					      <%= content_tag :p, flash[level] %>
					    </div>
					  <% end %>
					<% end %>

			      <%= yield %>
			    </section>
		    	<%= debug(params) if Rails.env.development? %>
			</div>
		</div>
	</div>
</body>
</html>
